# Logs e artefatos
*.log
logs/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Airflow
airflow/logs/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Podman/Docker volumes
minio-data/
airflow-db/
